@model AppUserVM
@{
    ViewBag.Title = "Login";
}
<style>
    .top60 {
        margin-top: 60px;
        text-align:center;
    }
</style>
@if (ViewBag.Hata != null)
{
    <div class="alert alert-warning top60">@ViewBag.Hata</div>
}
else if (TempData["accountActive"] != null)
{
    <div class="alert alert-warning top60">@TempData["accountActive"]</div>
}
@if (TempData["ResetInfo"] != null)
{
    <div class="alert alert-success text-center top60">@TempData["ResetInfo"]</div> //ResetPassword'dan geliyor...
}
<!-- Main content -->
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login" }))
{
    <br />
    <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" class="login__title">Giriş Yap <br><span class="login-edition">Sinflex Sinemasına Hoşgeldiniz</span></p>


    <div class="field-wrap">
        @Html.TextBoxFor(x => x.AppUser.Email, new { @class = "login__input", placeholder = "Email" })

        @Html.PasswordFor(x => x.AppUser.Password, new { @class = "login__input", placeholder = "Şifre" })


        <!--<input type='checkbox' id='#informed' class='login__check styled'>
        <label for='#informed' class='login__check-info'>remember me</label>-->
    </div>
    <br />
    <div class="login__control">
        <button type='submit' class="btn btn-md btn--warning btn--wider">Giriş Yap</button>
        @Html.ActionLink("Kayıt Ol", "Register", "Account", null, new { @style = "margin-left:10px;", @class = "btn btn-md btn--warning btn--wider" })
        <a href="@Url.Action("LostPassword","Account")" class="login__tracker form__tracker">Şifremi Unuttum</a>
    </div>
}

<div class="clearfix"></div>

