@model AppUserVM
@{
    ViewBag.Title = "ResetPassword";
}

<style>
    .topPersonal {
        margin-top: 30px;
    }
    .field-validation-error {
        color: red;
    }
</style>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "login" }))
{
    <p style="font-size:12pt;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-center topPersonal"><b>Şifre Sıfırlama</b><br />Yeni şifrenizi belirleyin</p>




    @Html.HiddenFor(x=>x.AppUser.ActivationCode)
    <div class="field-wrap">
        @Html.PasswordFor(x => x.AppUser.Password, new { @placeholder = "Yeni şifrenizi girin ", @class = "login__input" })
        @Html.ValidationMessageFor(x=>x.AppUser.Password)

        @Html.PasswordFor(x => x.AppUser.ConfirmPassword, new { @placeholder = "Yeni şifrenizi tekrar girin", @class = "login__input" })
        @Html.ValidationMessageFor(x=>x.AppUser.ConfirmPassword)

    </div>

    <div class="login__control topPersonal">
        <button type='submit' class="btn btn-md btn--warning btn--wider">Şifremi Yenile</button>
    </div>
}

<div class="clearfix"></div>

