@model MovieVM
@if (TempData["noTicket"] != null)
{
    <div class="alert alert-warning">@TempData["noTicket"]</div>
}
else
{
    foreach (Saloon item in Model.Saloons)
    {
        <div style="margin-top:20px;" class="time-select time-select--wide">
            <div class="time-select__group group--first">
                <div class="col-sm-4">
                    <p class="time-select__place">@item.SaloonNo . Salon</p>
                </div>
                @using (Html.BeginForm("Seat", "Reservation", FormMethod.Post, new { id = "seansForm" }))
                {
                    @Html.Hidden("movieID", null, new { id = "movie" })
                    @Html.Hidden("saloonID", null, new { id = "saloon" })
                    @Html.Hidden("sessionID", null, new { id = "session" })
                    <ul class="col-sm-8 items-wrap">


                        @foreach (MovieSessionSaloon element in Model.MovieSessionSaloons)
                        {
                            if (element.SaloonID == item.ID)
                            {

                                DateTime sessionDateTime = element.Session.Time;
                                if (sessionDateTime <= DateTime.Now)
                                {
                                    <li class="time-select__item disabled" data-time='@element.Session.Time'>@element.Session.Time.ToString("HH:mm")</li>
                                }
                                else
                                {
                                    <li onclick="submitForm(@Model.Movie.ID,@element.SaloonID,@element.SessionID)" class="time-select__item" data-time='@element.Session.Time'>@element.Session.Time.ToString("HH:mm")</li>

                                }


                            }


                        }

                    </ul>
                }
            </div>
        </div>
    }
}
