@model MovieVM
@{
    ViewBag.Title = "Single";
}
<section class="container">
    <div class="col-sm-12">
        <div class="movie">
            <h2 class="page-heading">@Model.Movie.MovieName</h2>

            <div class="movie__info">
                <div class="col-sm-4 col-md-3 movie-mobile">
                    <div class="movie__images">
                        
                        <img alt='' src="~/OuterTools/images/movie/deneme.jpeg">
                    </div>
                    
                </div>

                <div class="col-sm-8 col-md-9">
                    <p class="movie__time">@Model.Movie.MovieLength dakika</p>

                    <p class="movie__option"><strong>Country: </strong><a href="#">New Zeland</a>, <a href="#">USA</a></p>
                    <p class="movie__option"><strong>Yıl: </strong>@Model.Movie.MovieYear</p>
                    <p class="movie__option"><strong>Tür: </strong>@Model.Movie.Genre.GenreName</p>
                    
                    <p class="movie__option"><strong>Yönetmen: </strong>@Model.Movie.Director.FirstName @Model.Movie.Director.LastName</p>
                    <p class="movie__option"><strong>Oyuncular: </strong></p>@foreach (MovieActor item in Model.MovieActors)
                    {
                <div>@item.Actor.FirstName&nbsp;@item.Actor.LastName</div>
                    }
                    

                    

                    

                    
                </div>
            </div>

            <div class="clearfix"></div>

            <h2 class="page-heading">Açıklama:</h2>

            <p class="movie__describe">@Model.Movie.Description</p>

            

            

        </div>

        <h2 class="page-heading">showtime &amp; tickets</h2>
        <div class="choose-container">
            <form id='select' class="select" method='get'>
                <select name="select_item" id="select-sort" class="select__sort" tabindex="0">
                    <option value="1" selected='selected'>London</option>
                    <option value="2">New York</option>
                    <option value="3">Paris</option>
                    <option value="4">Berlin</option>
                    <option value="5">Moscow</option>
                    <option value="3">Minsk</option>
                    <option value="4">Warsawa</option>
                    <option value="5">Kiev</option>
                </select>
            </form>

            <div class="datepicker">
                <span class="datepicker__marker"><i class="fa fa-calendar"></i>Date</span>
                <input type="text" id="datepicker" value='03/10/2014' class="datepicker__input">
            </div>

            <a href="#" id="map-switch" class="watchlist watchlist--map watchlist--map-full"><span class="show-map">Show cinemas on map</span><span class="show-time">Show cinema time table</span></a>

            <div class="clearfix"></div>

            <div class="time-select">
                <div class="time-select__group group--first">
                    <div class="col-sm-4">
                        <p class="time-select__place">Cineworld</p>
                    </div>
                    <ul class="col-sm-8 items-wrap">
                        <li class="time-select__item" data-time='09:40'>09:40</li>
                        <li class="time-select__item" data-time='13:45'>13:45</li>
                        <li class="time-select__item active" data-time='15:45'>15:45</li>
                        <li class="time-select__item" data-time='19:50'>19:50</li>
                        <li class="time-select__item" data-time='21:50'>21:50</li>
                    </ul>
                </div>

                <div class="time-select__group">
                    <div class="col-sm-4">
                        <p class="time-select__place">Empire</p>
                    </div>
                    <ul class="col-sm-8 items-wrap">
                        <li class="time-select__item" data-time='10:45'>10:45</li>
                        <li class="time-select__item" data-time='16:00'>16:00</li>
                        <li class="time-select__item" data-time='19:00'>19:00</li>
                        <li class="time-select__item" data-time='21:15'>21:15</li>
                        <li class="time-select__item" data-time='23:00'>23:00</li>
                    </ul>
                </div>

                <div class="time-select__group">
                    <div class="col-sm-4">
                        <p class="time-select__place">Curzon</p>
                    </div>
                    <ul class="col-sm-8 items-wrap">
                        <li class="time-select__item" data-time='09:00'>09:00</li>
                        <li class="time-select__item" data-time='11:00'>11:00</li>
                        <li class="time-select__item" data-time='13:00'>13:00</li>
                        <li class="time-select__item" data-time='15:00'>15:00</li>
                        <li class="time-select__item" data-time='17:00'>17:00</li>
                        <li class="time-select__item" data-time='19:0'>19:00</li>
                        <li class="time-select__item" data-time='21:0'>21:00</li>
                        <li class="time-select__item" data-time='23:0'>23:00</li>
                        <li class="time-select__item" data-time='01:0'>01:00</li>
                    </ul>
                </div>

                <div class="time-select__group">
                    <div class="col-sm-4">
                        <p class="time-select__place">Odeon</p>
                    </div>
                    <ul class="col-sm-8 items-wrap">
                        <li class="time-select__item" data-time='10:45'>10:45</li>
                        <li class="time-select__item" data-time='16:00'>16:00</li>
                        <li class="time-select__item" data-time='19:00'>19:00</li>
                        <li class="time-select__item" data-time='21:15'>21:15</li>
                        <li class="time-select__item" data-time='23:00'>23:00</li>
                    </ul>
                </div>

                <div class="time-select__group group--last">
                    <div class="col-sm-4">
                        <p class="time-select__place">Picturehouse</p>
                    </div>
                    <ul class="col-sm-8 items-wrap">
                        <li class="time-select__item" data-time='17:45'>17:45</li>
                        <li class="time-select__item" data-time='21:30'>21:30</li>
                        <li class="time-select__item" data-time='02:20'>02:20</li>
                    </ul>
                </div>
            </div>

            <!-- hiden maps with multiple locator-->
            <!--<div class="map">
                <div id='cimenas-map'></div>
            </div>-->

            

            
        </div>
    </div>

</section>

<div class="clearfix"></div>

