@model MovieVM
@{
    ViewBag.Title = "Single";
}
<style>
    #ui-datepicker-div {
        margin-left: 0px;
    }
</style>
<section class="container">
    <div class="col-sm-12">
        <div class="movie">
            <h2 class="page-heading">@Model.Movie.MovieName</h2>

            <div class="movie__info">
                <div class="col-sm-4 col-md-3 movie-mobile">
                    <div class="movie__images">

                        <img alt='' src="@Model.Movie.MovieImagePath">
                    </div>

                </div>

                <div class="col-sm-8 col-md-9">
                    <p class="movie__time">@Model.Movie.MovieLength dakika</p>


                    <p class="movie__option"><strong>Yıl: </strong>@Model.Movie.MovieYear</p>
                    <p class="movie__option"><strong>Tür: </strong>@Model.Movie.Genre.GenreName</p>

                    <p class="movie__option"><strong>Yönetmen: </strong>@Model.Movie.Director.FirstName @Model.Movie.Director.LastName</p>
                    <p class="movie__option"><strong>Oyuncular: </strong></p>@foreach (MovieActor item in Model.MovieActors)
                    {
                        <div>@item.Actor.FirstName&nbsp;@item.Actor.LastName</div>
                    }







                </div>
            </div>

            <div class="clearfix"></div>

            <h2 class="page-heading">Açıklama:</h2>

            <p class="movie__describe">@Model.Movie.Description</p>





        </div>

        @if (TempData["noneLogin"]!=null)
        {
            <div class="alert alert-warning">@TempData["noneLogin"]</div>
        }
        else
        {
            <h2 class="page-heading">Seans Saatleri</h2>
            <div class="choose-container">
                <form id='select' class="select" method='get'>
                </form>

                <div>
                    <span class="datepicker__marker"><i class="fa fa-calendar"></i>Tarih:</span>
                    @Html.TextBoxFor(x => x.DateControl, new { @id = "tarih", @Value = DateTime.Now.ToShortDateString() })
                    @*<input style="width:125px" type="datetime-local" id="datepicker" value='03/10/2014' class="datepicker__input">*@
                </div>



                <div class="clearfix"></div>

                <div id="selectTime">
                    
                </div>

                <!-- hiden maps with multiple locator-->
                <!--<div class="map">
                <div id='cimenas-map'></div>
            </div>-->




            </div><!--Seans Secim Bitis-->
        }




    </div>

</section>

<div class="clearfix"></div>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.js"></script>

<script type="text/javascript">

    $(function () {

        $("#tarih").datepicker({

            dateFormat: "dd/mm/yy",
            altFormat: "yy-mm-dd",
            altField: "#tarih-db",
            monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
            dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"],
            firstDay: 1,
            minDate: new Date(),
            changeMonth: true,
            monthNamesShort: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
            //Tarih secimi degistiginde...
            onSelect: function (dateText, inst) {

                $.ajax({
                    url: '@Url.Action("QueryDate", "Movie")',
                    data: { id: @Model.Movie.ID, date: dateText },
                    type: "POST",
                    cache: false,
                    success: function (data) {
                        $('#selectTime').empty();
                        $('#selectTime').append(data);
                        $(document).ajaxComplete(function (event, request, settings) {
                            //$('#productsDiv').height(800);
                            $('#selectTime').load();


                        });


                    },

                });



            }
        });

    });

    function submitForm(movieID, saloonID, sessionID) {

        $("#movie").val(parseInt(movieID));
        $("#saloon").val(parseInt(saloonID));
        $("#session").val(parseInt(sessionID));
        $("#seansForm").submit();

    }

</script>