@model MovieVM
@{
    ViewBag.Title = "Index";
}
@if (TempData["paymentFailed"] != null)
{
    <div class="alert alert-danger">@TempData["paymentFailed"]</div>
}
@if (TempData["connectionDenial"] != null)
{
    <div class="alert alert-danger">@TempData["connectionDenial"]</div>
}
<!-- Slider -->
<div class="bannercontainer rev_slider_wrapper">

    <!-- the ID here will be used in the JavaScript below to initialize the slider -->
    <div id="rev_slider_1" class="banner rev_slider" style="display:none">

        <!-- BEGIN SLIDES LIST -->
        <ul>
            <!-- SLIDE 1 -->
            <li data-transition="fade" class="slide" data-title='Rush.'>

                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img class="rev-slidebg" alt='' src="~/Pictures/sliderStar2.jpg">

                <div class="tp-caption slide__name margin-slider"
                     data-x="right"
                     data-y="80"
                     data-frames='[{
                               "delay":300,
                               "split":"chars",
                               "splitdelay":0.1,
                               "speed":700,
                               "frame":"0",
                               "from":"x:[-100%];opacity:0;",
                               "mask":"x:0px;y:0px;s:inherit;e:inherit;",
                               "to":"o:1;",
                               "ease":"Power4.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    STAR WARS
                </div>

                <div class="tp-caption n slide__time margin-slider"
                     data-x="right"
                     data-hoffset='250'
                     data-y="186"
                     data-frames='[{
                               "delay":1200,
                               "speed":300,
                               "frame":"0",
                               "from":"x:[50%];opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    From
                </div>

                <div class="tp-caption  slide__date margin-slider"
                     data-x="right"
                     data-hoffset='149'
                     data-y="186"
                     data-frames='[{
                               "delay":1700,
                               "speed":500,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    October 18
                </div>
                <div class="tp-caption slide__time margin-slider"
                     data-x="right"
                     data-hoffset='120'
                     data-y="186"
                     data-frames='[{
                               "delay":1200,
                               "speed":300,
                               "frame":"0",
                               "from":"x:[50%];opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    till
                </div>
                <div class="tp-caption slide__date margin-slider"
                     data-x="right"
                     data-y="186"
                     data-frames='[{
                               "delay":1700,
                               "speed":500,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    November 01
                </div>
                <div class="tp-caption slide__text margin-slider text-right"
                     data-x="right"
                     data-y="250"
                     data-frames='[{
                               "delay":2300,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;skX:50px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    Two-time Academy Award winner Ron Howard, teams once again with fellow two-time Academy<br> Award nominee, writer Peter Morgan , on Rush, a spectacular big-screen re-creation of the merciless<br> 1970s rivalry between James Hunt and Niki Lauda
                </div>
                <div class="tp-caption margin-slider"
                     data-x="right"
                     data-y="324"
                     data-frames='[{
                               "delay":2600,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    </div>

            </li>

            <!-- SLIDE 2 -->
            <li data-transition="fade" class="slide" data-title='SINFLEKS SINEMALARI'>

                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img class="rev-slidebg" alt='' src="~/OuterTools/images/bg-video.jpg">
                <div class="rs-background-video-layer"
                     data-forcerewind="on"
                     data-volume="mute"
                     data-videowidth="100%"
                     data-videoheight="100%"
                     data-videomp4="video/TravelIs.mp4"
                     data-videopreload="auto"
                     data-videoloop="loop"
                     data-forceCover="1"
                     data-aspectratio="16:9"
                     data-autoplay="true"
                     data-autoplayonlyfirsttime="false"></div>
                <div class="tp-caption slide__name slide__name--smaller"
                     data-x="center"
                     data-y="160"
                     data-splitin="chars"
                     data-elementdelay="0.1"
                     data-speed="700"
                     data-start="1400"
                     data-easing="easeOutBack"
                     data-frames='[{
                               "delay":1400,
                               "speed":700,
                               "split":"chars",
                               "splitdelay":0.1,
                               "frame":"0",
                               "from":"opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    GOR, IZLE, TEKRAR
                </div>
                <div class="tp-caption slide__time"
                     data-x="center"
                     data-hoffset='-115'
                     data-y="242"
                     data-frames='[{
                               "delay":1800,
                               "speed":300,
                               "frame":"0",
                               "from":"x:[50%];opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    From
                </div>
                <div class="tp-caption slide__date position-center postion-place--two lfb ltb"
                     data-x="center"
                     data-hoffset='-50'
                     data-y="242"
                     data-frames='[{
                               "delay":2200,
                               "speed":500,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    April 18
                </div>
                <div class="tp-caption slide__time"
                     data-x="center"
                     data-hoffset='5'
                     data-y="242"
                     data-frames='[{
                               "delay":1800,
                               "speed":300,
                               "frame":"0",
                               "from":"x:[50%];opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    - till
                </div>
                <div class="tp-caption slide__date"
                     data-x="center"
                     data-hoffset='60'
                     data-y="242"
                     data-frames='[{
                               "delay":2200,
                               "speed":500,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    May 01
                </div>

                <div class="tp-caption slider-wrap-btn"
                     data-x="center"
                     data-y="310"
                     data-frames='[{
                               "delay":2800,
                               "speed":400,
                               "frame":"0",
                               "from":"y:100px;opacity:0;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                </div>
            </li>

            <!-- SLIDE 3 -->
            <li data-transition="fade" class="slide" data-title='SINFLEKSLE GELECEGE DOGRU BAK'>

                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img class="rev-slidebg" alt='' src="~/Pictures/sliderStar.jpg">
                <div class="tp-caption slide__name slide__name--smaller slide__name--specific"
                     data-x="center"
                     data-y="160"
                     data-frames='[{
                               "delay":1400,
                               "speed":700,
                               "frame":"0",
                               "from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                               "mask":"x:0px;y:[100%];s:inherit;e:inherit;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    Istemeyi <span class="highlight">birak.</span> Hemen Izle. <span class="highlight"></span>
                </div>

                <div class="tp-caption slide__descript"
                     data-x="center"
                     data-y="240"
                     data-frames='[{
                               "delay":2000,
                               "speed":500,
                               "frame":"0",
                               "from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                               "mask":"x:0px;y:[100%];s:inherit;e:inherit;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                    En iyi filmini SINFLEKS ile bul.
                </div>

                <div class="tp-caption slider-wrap-btn"
                     data-x="center"
                     data-y="310"
                     data-frames='[{
                               "delay":2500,
                               "speed":500,
                               "frame":"0",
                               "from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;",
                               "mask":"x:0px;y:[100%];s:inherit;e:inherit;",
                               "to":"o:1;",
                               "ease":"Power3.easeInOut"
                               },{
                               "delay":"wait",
                               "speed":300,
                               "frame":"999",
                               "to":"opacity:0;",
                               "ease":"Power3.easeInOut"
                             }]'>
                   
                </div>
            </li>


        </ul><!-- END SLIDES LIST -->

    </div><!-- END SLIDER CONTAINER -->

</div><!-- END SLIDER CONTAINER WRAPPER -->
<!--end slider -->


<section class="container">
    <div class="movie-best">
        <div class="col-sm-10 col-sm-offset-1 movie-best__rating">Vizyondakiler</div>
        <div class="col-sm-12 change--col">
            @{int sayac = 1; }
            @foreach (Movie item in Model.Movies)
            {
                if (sayac == 7)
                {
                    break;
                }

                <div class="movie-beta__item ">
                    <img alt='' src="@item.MovieImagePath">
                    <span class="best-rate">5.0</span>

                    <ul class="movie-beta__info">
                        <li><span class="best-voted">@item.MovieName</span></li>
                        <li>
                            <p>Vizyon Tarihi: @item.MovieYear</p>
                            <p>Tür: @item.Genre.GenreName</p>
                            <p class="movie__time">@item.MovieLength dakika</p>
                        </li>
                        <li class="last-block">
                            <a href="@Url.Action("Single","Movie",new { id=item.ID})" class="slide__link">Daha Fazla</a>
                        </li>
                    </ul>
                </div>
                sayac++;
            }


        </div>
        <div class="col-sm-10 col-sm-offset-1 movie-best__check">@Html.ActionLink("Vizyondaki tum filmleri kontrol edin","Movie","Movie")</div>
    </div>
</section>