@{
    Employee boss = (Employee)HttpContext.Current.Session["boss"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sinflex | Patron Paneli</title>

    <!-- Bootstrap -->
    <link href="~/Areas/Panel/PanelTools/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Areas/Panel/PanelTools/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Areas/Panel/PanelTools/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Areas/Panel/PanelTools/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/Areas/Panel/PanelTools/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Areas/Panel/PanelTools/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Areas/Panel/PanelTools/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Datatables -->
    <link href="~/Areas/Panel/PanelTools/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Panel/PanelTools/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Panel/PanelTools/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Panel/PanelTools/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Panel/PanelTools/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Areas/Panel/PanelTools/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Sinflex Cinema</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Areas/Panel/PanelTools/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Hoşgeldiniz,</span>
                            @if (Session["boss"] != null)
                            {
                                <h2>@boss.FirstName @boss.LastName</h2>
                            }
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Genel</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index","MainBoss",new { Area="PanelBoss"})"><i class="fa fa-home"></i> Ana Sayfa </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i>Çalışan İşlemleri <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        <li><a href="@Url.Action("EmployeeList","EmployeeBoss", new { Area = "PanelBoss" })">Çalışan Listesi</a></li>


                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i>Kullanıcı İşlemleri <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        <li><a href="@Url.Action("UserList","UserBoss", new { Area = "PanelBoss" })">Kullanıcı Listesi</a></li>


                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> Film İşlemleri<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("MovieList","MovieBoss",new { Area="PanelBoss"})">Film Listesi</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> Salon İşlemleri<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("SaloonList","SaloonBoss",new { Area="PanelBoss"})">Salon Listesi</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i>Oyuncu İşlemleri<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        <li><a href="@Url.Action("ActorList","ActorBoss",new { Area="PanelBoss"})">Oyuncu Listesi</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i>Seans İşlemleri<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("SeansList","SeansBoss",new { Area="PanelBoss"})">Seans Listesi</a></li>
                                        <li><a href="@Url.Action("GetNotation","SeansBoss",new { Area="PanelBoss"})">Gösterim Listesi</a></li>





                                    </ul>
                                </li>




                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("Logout","Account",new { Area=""})">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @if (Session["boss"] != null)
                                    {
                                        @boss.FirstName @boss.LastName
                                    }
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="@Url.Action("Logout","Account",new { Area=""})"><i class="fa fa-sign-out pull-right"></i> Cikis Yap</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            @RenderBody()
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Admin Panel by Emre GOREN && Serkan Akçay
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Areas/Panel/PanelTools/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Areas/Panel/PanelTools/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Areas/Panel/PanelTools/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Areas/Panel/PanelTools/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Areas/Panel/PanelTools/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Areas/Panel/PanelTools/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Areas/Panel/PanelTools/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Areas/Panel/PanelTools/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/pdfmake/build/vfs_fonts.js"></script>
    <!-- Skycons -->
    <script src="~/Areas/Panel/PanelTools/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Areas/Panel/PanelTools/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Areas/Panel/PanelTools/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Areas/Panel/PanelTools/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Areas/Panel/PanelTools/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Areas/Panel/PanelTools/vendors/moment/min/moment.min.js"></script>
    <script src="~/Areas/Panel/PanelTools/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Areas/Panel/PanelTools/build/js/custom.min.js"></script>

</body>
</html>