@model SaleVM
@{
    ViewBag.Title = "SaleList";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Satış Listesi </h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Satış/Rezarvasyon</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                            Sitenize üye olan kullanıcıların satın aldığı veya rezerve ettikleri biletlerin detaylarını görebilirsiniz.
                        </p>

                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Ad Soyad</th>
                                    <th>Cinsiyet</th>
                                    <th>Telefon</th>

                                    <th>Meslek</th>
                                    <th>Rol</th>
                                    <th>Film ismi</th>
                                    <th>Satış Tipi</th>
                                    <th>Fiyat</th>
                                    <th>Seans Zamanı</th>
                                    <th>Satışı Yapan</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Sale item in Model.Sales)
                                {
                                <tr>
                                    <td>@item.AppUser.Email</td>
                                    <td>@item.AppUser.UserProfile.FirstName @item.AppUser.UserProfile.LastName</td>
                                    <td>@item.AppUser.UserProfile.Gender</td>
                                    <td>@item.AppUser.UserProfile.MobilePhone</td>


                                    <td>@item.AppUser.UserProfile.Job</td>
                                    <td>@item.AppUser.Role</td>
                                    <td>@item.Movie.MovieName</td>
                                    <td>@item.SaleType</td>
                                    <td>@item.TicketPrice ₺</td>
                                    <td>@item.Session.Time</td>

                                    @if (item.Employee != null)
                                    {
                                        <td>@item.Employee.FirstName @item.Employee.LastName</td>

                                    }
                                    else
                                    {
                                        <td>Belitilmemiş</td>
                                    }








                                </tr>
                                }

                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


